<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Seydel - Login</title>
</head>

<body>

     {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="contenido-principal">

        <div class="contenedor">

            <div class="marca">
                <h1>Gestión de Piezas</h1><br>
            </div>

            <div class="login-container">

                <h2>Login</h2>

                <form id="Formulario_Login" action="{{ url_for('login') }}" method="post">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <input type="text" id="username" name="username">
                        <span class="nombreError"></span>
                    </div>
                    <label for="email">E-Mail</label>
                    <div class="input-group">
                        <input type="text" id="email" name="email">
                        <span class="error-message"></span>
                    </div>
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input type="password" id="password" name="password">
                        <span class="error-message"></span>
                    </div>
                    <button type="submit">Entrar</button>
                   <p class="registro-link"> <a href="{{ url_for('registro') }}">Create an account</a></p>
                </form>
                
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Seydel. All rights reserved</p>
        <p><a href="#">Política de privacidad</a> | <a href="#">Contacto</a></p>
    </footer>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>