<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centro de Gestión de Piezas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/portal.css') }}">
</head>

<body>

  <header>

    <h1>Gestión de Piezas</h1>
    <p>Inventario y documentación técnica de componentes - SEYDEL</p>
    <div class="user-info">
      Usuario: <strong>{{ usuario }}</strong> | <a href="{{ url_for('logout') }}">Cerrar sesión</a>
    </div>

  </header>

  <div class="container">
    <div class="top-bar">
      <a href="{{ url_for('nueva_pieza') }}">
        <button class="new-piece-btn">+ Nueva Pieza</button>
      </a>
    </div>

    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Fab/Com</th>
          <th>MOD 3D</th>
          <th>Eliminar</th>
      
        </tr>
      </thead>
      <tbody>
        {% for pieza in piezas %}
        <tr>
          <td>{{ pieza.codigo_interno }}</td>
          <td>{{ pieza.nombre }}</td>
          <td>{{ pieza.descripcion }}</td>
          <td>{{ pieza.cantidad }}</td>
          <td><button class="download-btn">Descargar</button></td>
          <td>
            <form action="{{ url_for('eliminar_pieza', pieza_id=pieza.id) }}" method="post"
              onsubmit="return confirm('¿Eliminar esta pieza?');">
              <button class="delete-btn" type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>

</html>